/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.landscape {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    height: 60vh;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(../../Assets/Landscape.png);
    border-radius: 16px;

    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

    max-width: 99%;
}

.textbox {
    order: 1;
    flex: 1, 1, auto;
    align-self: center;

    background-color: aliceblue;
    border: solid 2px;
    border-radius: 8px;

    font-size: large;
    text-align: center;

    margin-inline: 5%;
}
